body {
    text-align: center;
    background-image:url("https://thumbs.dreamstime.com/b/recycled-paper-pulp-surface-texture-29352721.jpg");
    font-family:"Amita";
}

h1 {
    font-style:italic;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

#gridName{
    margin-bottom:0px;
}

h5{
    margin-top:0px;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

footer{
  text-align:left;
}
